<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Analyzer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body>
    <div class="flex justify-center bg-gray-100 pt-10">
        <div class="bg-white rounded-lg shadow-md p-8 mb-10 flex flex-col items-center w-[1000px]">
            <h1 class="text-3xl font-semibold mb-4 text-center">Analysis of {{ GetTickerInformation.ticker }}
            </h1>
        </div>
    </div>
    <footer class="bg-gray-800 text-white text-center py-2">
        <p>Created By Armando Mancino. 2023.</p>
    </footer>
</body>

</html>